rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /courts/{courtId} {
      allow read, write: if true;
    }
    match /bookings/{bookingId} {
      allow read, write: if true;
    }
    match /config/{configId} {
      allow read, write: if true;
    }
  }
}
